.container {
    display: flex;
    gap: 5px;
}

.container__star {
    cursor: pointer;
    font-size: 20px;
}

.container__star--active {
    color: gold;
}

.container__star--hover {
    font-size: 25px;
}
